{
  "presets": ["next/babel"],
  "plugins": [
    ["istanbul", {
      "exclude": [
        "**/*.spec.js",
        "**/*.test.js",
        "**/*.spec.ts",
        "**/*.test.ts",
        "**/*.spec.tsx",
        "**/*.test.tsx",
        "**/cypress/**",
        "**/coverage/**",
        "**/node_modules/**",
        "**/.next/**"
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            "**/*.test.js",
            "**/*.spec.ts",
            "**/*.test.ts",
            "**/*.spec.tsx",
            "**/*.test.tsx",
            "**/cypress/**",
            "**/coverage/**",
            "**/node_modules/**",
            "**/.next/**"
          ]
        }]
      ]
    }
  }
}